@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?qk736l');
    src:  url('../fonts/icomoon.eot?qk736l#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?qk736l') format('truetype'),
      url('../fonts/icomoon.woff?qk736l') format('woff'),
      url('../fonts/icomoon.svg?qk736l#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-menu:before {
    content: "\e9bd";
  }


body{
    font-family: "Source Sans Pro", sans-serif;
    margin: 0%;
    background-color: #a6e66e;
    color: #4b4b4b;

}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: "Fjalla One", sans-serif;
    font-weight: normal;
}
.logo{
    margin-top: auto;
}
h1{
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -.2px;
    color: white;
    margin: 0px;

}

h2 {
    color: #ffe001;
    text-transform: uppercase;
    font-family:"Source Sans Pro", sans-serif;
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 40px;
    margin-top: 0%;
    display: flex;
    justify-content: center;
}
h3{
    font-size: 32px;
}

h6{
    font-size: 50px;
    margin: 10px 0;
}
a{
    color: #ffe001;
}
.header{
    background-color: #a6e66e;
    color: white;
    display: flex;
    height: auto;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    border-bottom: #4b4b4b solid 1px;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

figure {
    margin: 0;
    text-align: center;
    align-items: center;
    display: flex;
}

.nav-bar a{
    color:#b947a1;
    text-decoration: none;  
    font-weight: bold;
    display: flex;
    align-items: center;
    height: inherit;
    padding: 26px 30px 19px;
    font-size: 19px;
    font-weight: 100;
}
.header a{
    color:black;
    text-decoration: none;  
    font-weight: bold;
}
.menu {
    height: inherit;
}
.header ol {
    display: flex;
    height: inherit;
}
.header ol li{
    height: inherit;
}
.header a {
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 10px;
}
.nav-bar ol {
    display: flex;
    height: inherit;
    justify-content: center;
}
.nav-bar ol li{
    height: inherit;
}
.talla{
    display: flex;
    justify-content: center;
    color: darkgray;
    margin-top: 30px;
}

.bienvenida p{
    font-size: 24px;
    text-align: justify;
}
.bienvenida span {
    color: #ffe001;
    
}
.tallas{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.tallas li {
    width: 10%;
}
.tallas li a {
    color: darkgray;  
    font-weight: bold;
    font-size: 16px;
    font-weight: 100;  
}

.vestido-talla {
    display: flex;
    justify-content: center;
    color: lightpink;
    width: 100%;
    margin-bottom: 0;
    margin-top: 50px;
}
.right1,.right2,.right3,.right4
,.right5,.right6,.right7,.right8
,.right9,.right10,.right11,.right12
,.right13,.right14,.right15{
    position: absolute;
    right:5%;
    top: 50%;
}

.left1,.left2,.left3,.left4
,.left5,.left6,.left7,.left8
,.left9,.left10,.left11,.left12
,.left13,.left14,.left15{
    position: absolute;
    left: 5%;
    top: 50%;
}

.footer{
 color: white;
 background-color: #ffccff;
 display: flex;
 align-items: center;
 justify-content: space-between;
 flex-wrap: wrap;
}

.footer img {
    vertical-align: middle;
}

.footer a{
    color: white
}
.event-list{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
 .event-list-title{
padding-top: 25px;
margin-bottom: -10px;
border-bottom: solid #4b4b4b 2px;
font-size: 40px;
}
.event {
  margin: 1%;
  width: 23%;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  background-color:#ffe001;
}
.event-imageConteiner{
    display: block;
    width: 100%;
}
.event img {
    object-fit: contain;
    width: 100%;
}
.event-detail{
    margin: 20px 10px;
    margin-top: -40px;
    padding: 20px 0;
    text-align: center;
}
.event-descrption{
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
}
.precio-producto{
    font-size: 22px;
    color: lightpink;
}

.event-url{
    width: 150px;
    color: #d3d1d1;
    border: 1px solid ;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 5px;
    background-color: #2D00FF;
    position: absolute;
    right: calc(50% - 95px) ;
    bottom: 1%;
}
.contact{
    background-color: #ffe001;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 20px;
}
.form-email a{
    color: white;
}
.social {
    height: 100%;
    margin-bottom: auto;
}

.social-link{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    background-size: 50px 50px;
}

.social-link.facebook{
    background-image: url("../images/facebook.svg");
    
}

.social-link.instagram{
    background-image: url("../images/instagram.svg");
}

.social h3{
    font-weight: normal;
    font-family: inherit;
}



.form-email h3{
    font-family: "Source Sans Pro", sans-serif;
    margin-bottom: 5px;
}

.form-email h4{
    font-size: 40px;
    font-family: "allura";
    margin: auto;
    }
    
 .form-email p{
   font-size: 18px;
    }

.container{
     /* border: 1px solid red; */
    max-width: 1000px;
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}
.container-logo{
    /* border: 1px solid red; */
   max-width: 1000px;
   flex: 1;
   margin: 0 auto;
   display: inherit;
   justify-content: center;
   align-items: inherit;
   height: inherit;
   flex-wrap: inherit;
   z-index: 3;
}


.event-title a{
    color: black;
    text-decoration: none
}

#june  {
    height: 400px;
    object-fit: contain;
    flex-wrap: wrap;
}

.container-stock{
    /* border: 1px solid red; */
   /* max-width: 1000px; */
   flex: 1;
   margin: 0 ;
   display: inherit;
   justify-content: inherit;
   align-items: inherit;
   height: inherit;
   flex-wrap: inherit;
}
.citas p{
    font-size: 23px;
    margin-left: 18px;
    }
    .citas-container{
        display: flex;
    }

.burger-button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .7);
    display: none;
    line-height: 40px;
    text-align: center;
    position: fixed;
    z-index: 4;
    left: 5px;
    top: 5px;
    color: white;
}
@media screen and (max-width: 1023px) {
.event{
    width: 40%;
    margin: 3% 5%;
}
.event-list-title{
    margin-left: 0;
}    
.event-detail{
    margin: 0%;
}
.event-url{
    font-size: 13px;
}

.event-descrption {
    margin-top: auto;
}
.container {
    padding: 0 1em;
}
.container-stock{
    padding: 0 1em; 
}

h1 {
    font-size: 2em;
    z-index: 2;
}


.burger-button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .7);
    display: none;
    line-height: 40px;
    text-align: center;
    position: fixed;
    z-index: 4;
    left: 5px;
    top: 5px;
    color: white;
}
}
@media screen and (max-width: 767px) {
    h2{
        font-size: 1.2em;
        margin: .5em 0;
    }
    .burger-button{
        display: block;
    }
    
    .menu{
        position: fixed;
        background: rgba(32, 28, 29,.9);
        z-index: 3;
        top: 0%;
        left: -100vw;
        width: auto;
        bottom: 0%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;
    }
    .menu.is-active{
        left: 0;
        justify-content: flex-start;
        align-items: baseline;
        padding-top: 29px;
    }
    .logo img{
        height: 130px;
        }
    .event{
        width: 44%;
        flex-shrink: initial;
        margin: 3% 3%;
    }
  
    .event-detail{
        margin-top: -30px
    }
    .event-descrption {
        text-align: center;
        font-size: 16px;
        text-transform: uppercase;
        margin-top: 5%;
        margin-bottom: 10%;
    }

    .nav-bar ol {
        display: block;
    }
    .nav-bar ol li{
        height: 50px;
    }
    .nav-bar a{
        height: 40px;
        font-size: 1.5em;
        text-decoration: none;
        margin-bottom: .5em;
        border-bottom: solid 1px #2b2329;
        color:#dcdcdc;
        padding: 0 20px;
    }
}
@media screen and (max-width: 480px) {
    h1{
        font-size: 1.5em;
    }
    
     .event-detail{
      margin: -2em .5em .5em;
      padding: .5em 0;
    }
    .contact{
        height: auto;
        padding: 1.5em 0;
        text-align: center;
        display: block;
    }
    .form-email h3{
        margin-top: 0;
    }
    .footer{
        display: block;
        text-align: center;
        border: 1px solid transparent
    }
    .social-link{
        width: 40px;
        height: 40px;
        background-size: 100%;
    }
   
    .event-url{
        font-size: 12px;
        width: 105px;
        padding: 5px 10px;
        right: calc(50% - 65px);
    }
    .event img{
        height: auto;
    }
    .event-detail{
        margin: 0%;
    }
    .event-descrption {
        font-size: 14px;
        margin-bottom: 20%;
    }
    .event-title{
        font-size: 24px;
    }
    .nav-bar a{
        font-size: 1em;
    }
    .event-list-title{
        margin-top: 15px;
        margin-bottom: 20px;
        font-size: 28px;
    }
    .talla{
        font-size: 24px;
    }
    .citas-container {
        justify-content: center;
    }     
    h6{
        font-size: 32px;
    }
    .bienvenida p{
        font-size: 18px
    }
}

@media screen and (max-width: 320px) {
    h1{
        font-size: 1.2;
        } 
    .event-url{
        font-size: 10px
    }
    .event-detail{
        padding: .5em;
    }
    .logo img {
        height: 60px;
    }

    .event-list-title{
        font-size: 28px;
        padding: 0%;
    }
    .event-descrption {
        font-size: 14px;
    }
}